*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    background:linear-gradient(90deg, rgba(0,0,0,1) 13%, rgba(7,6,92,1) 29%, rgba(9,9,121,1) 49%, rgba(9,17,127,1) 62%, rgba(7,57,153,1) 76%, rgba(7,57,153,1) 87%, rgba(7,57,153,1) 96%);
  
    }
  input, button {
  
    border: 1px;
    outline: none;
    background: none;
  }
  
  .cont{
    overflow: hidden;
    position: relative;
    width: 900px;
    height:550px;
    margin-top: 40px;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-image: url(pngwing.com.png) ;
  
  }
  
  .form{
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
  }
  
  .form ,h2{
    width: 100%;
    font-size: 30px;
    text-align: center;
  }
  
  label{
    display: block;
    width: 260px;
    margin: 25px auto;
    text-align: right;
    margin-right: 0;
     
  }
  
  label span {
    font-size: 14px;
    font-weight: 600;
    color:white;
    text-transform: uppercase;
  }
  
  input{
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    text-align: center;
    border-bottom: 2px solid rgba(0,212,255,1);
    
  }
  
  button{
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    color: #fff;
    font-size: 15 px;
    cursor: pointer;
    
  }
  
  .social-media{
    width:20px;
    height:20px;
    border-radius:10px;
  
  }
  
  
  
  /*.div1 {
    width: 800px;
    height: 500px;
    border: 1px solid blue;
    margin-top: 70px;
    margin-left: 25%;
    
    
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-image: url(2.jpg);
    background-size: none;
    background-repeat:no-repeat;
  
   
    }
  
   .img{
    background-image: url(2.jpg);
    background-size: cover;
    background-repeat:no-repeat;
    }
  
   
    body{
      background: background: rgba( 255, 255, 255, 0.05 );background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-image: url(2.jpg);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0.0px );
    -webkit-backdrop-filter: blur( 0.0px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    background-image: url(2.jpg);
    }  */
  